.título-sección{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#estado-factuas-facturas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.título-sección h4{
    color: #322055;
font-family: Helvetica Neue LT Std;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
margin: 0;
}

.título-sección h4 i{
    color: var(--neutral-500);
    
}

.estado-alertas{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

#Estado-factuas{
    flex: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

#Alertas {
    flex: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#alertas-stack{
    display: flex;
    flex-direction: column;
    gap:12px;
    height: 100%;
}

.título-sección p{
    color: var(--secondary-naranjaenerbit);
    margin: 0;
    font-family: Helvetica Neue LT Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}
.inicio-content{
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    gap:24px;
    background-color: var(--bg-2);
}



.consumo-actividades{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#consumo-container{
    flex: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#acticidad-container {
    flex: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-consumo-actividades{
    margin:0;
    color: #322055;
    font-family: Helvetica Neue LT Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
}

.consumo-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 100%;
    }
    
    .prom-mes { grid-area: 1 / 1 / 2 / 2; }
    .prom-al-mes { grid-area: 1 / 2 / 2 / 3; }
    .descubre { grid-area: 2 / 1 / 3 / 3; }

    .prom {
        padding: 32px;
        text-align: center;
        border-radius: var(--corners-corner-large, 16px);
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .promedio-para{
        color: var(--neutral-500, #667085);
        text-align: center;
        font-family: Helvetica Neue LT Std;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 92%; 
    }

    .prom-info{
        color: var(--primary-700, #322055);
        font-family: Helvetica Neue LT Std;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
    }
.descubre{
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap:35px;
    border-radius: var(--corners-corner-large, 16px);
    background: var(--bg-1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}
.descubre-text{
    flex:70%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
}

.descubre .eco-imagen {
    height: fit-content;
    flex:30%;

}

.descubre .eco-imagen img{
    max-width: 100%;
    height: auto;
}

.descubre-title {
    color: var(--primary-moradoenerbit, #53358E);
    font-family: Helvetica Neue LT Std;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.descubre-para{
    color: var(--primary-700, #322055);
    font-family: Helvetica Neue LT Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; 
}
.descubre Button {
    background-color: var(--secondary-naranjaenerbit);
    padding: 10px 24px;
    color: var(--bg-1, #FFF);
    font-family: Helvetica Neue LT Std;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    border-width: 0;

    }

.descubre Button:hover{
    background: var(--secondary-700, #994A01); 
}

.actividad-dash {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    }
    
    .donut-graph { grid-area: 1 / 1 / 4 / 3; }
    .mes-b4 { grid-area: 4 / 1 / 5 / 2; }
    .mes-today { grid-area: 4 / 2 / 5 / 3; }


    .dash-space{
        border-radius: var(--corners-corner-large, 16px);
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    }

.mes-title{
    color: var(--neutral-500, #667085);
    text-align: center;
    font-family: Helvetica Neue LT Std;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.mes-cifra{
    color: var(--primary-700, #322055);
    text-align: center;
    font-family: Helvetica Neue LT Std;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 33.6px */
}

.dash-mini{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donut-title{
    margin: 0;
    color: var(--neutral-500, #667085);
    text-align: center;
    font-family: Helvetica Neue LT Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 92%; 
}
.donut-graph{
    padding: 32px;
}