#panel-de-control{
    padding: 29px 107px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--bg-2);
    height:fit-content;
    
}

#panel-de-control h1{
    color: var( --primary-moradoenerbit-700);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.panel-slot {
    background-color: var(--bg-1);
    border-radius: 16px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    
}

#panel-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 0;
   
}
#search-sedes{
    display: flex;
    flex-direction: row;
    padding: 0px 32px;
    gap: 16px;
}

#search-sedes .input-group{
    flex: 80%;
}

#search-sedes .dropdown{
    flex: 20%;

}

#search-sedes span.input-group-text{
    background-color: var(--bg-1);
    
}

.input-group .form-control{
    border-left: none;
    padding-left: 0;
}

.div3.panel-slot{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#top-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-stats-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 12px;
    color:  var(--primary-moradoenerbit-700);
}

.top-stats-number{
    font-size: 40px;
font-style: normal;
font-weight: 750;
line-height: 120%; /* 48px */
}

.top-stats-text{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.slot-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.slot-title h2{
    margin:0;
    color:  #322055;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.slot-title p {
    color:  #667085;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.sedes-title{
    display: flex ;
    flex-direction: row;
    color: #322055;
    justify-content: space-between;
}

.sedes-title h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin: 0;
}

.sedes-title p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
    margin: 0;
}



#search-sedes .dropdown button{
    background-color: var(--bg-1);
    color: #322055;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-color: #A3A9B6;
}

    
    .div1 { grid-area: 1 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    padding: 16px;
    
    ;
}
    .div2 { grid-area: 3 / 1 / 6 / 4; }
    .div3 { grid-area: 1 / 4 / 6 / 6; }
    .div4 { grid-area: 6 / 1 / 11 / 3;
        padding: 24px 32px;
    }
    .div5 { grid-area: 6 / 3 / 11 / 6; 
        padding: 24px 32px;
    }

    .div2 ul li.nav-item button.active {
        background-color: var(--primary-moradoenerbit);
        color: #F0F1F3;
        border-radius: 6px;

    }

    .div2 ul li.nav-item {
        border-width: 0;
        color: var(--primary-700)
    }

    .div2 ul li.nav-item button {
        border-width: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

    